<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.11.2" targetFramework="net48" />
  <package id="Json.Net" version="1.0.18" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="1.4.0" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="1.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Numpy.Bare" version="3.7.1.10" targetFramework="net48" />
  <package id="NumSharp" version="0.20.5" targetFramework="net48" />
  <package id="Pathoschild.Stardew.ModBuildConfig" version="3.0.0" targetFramework="net452" />
  <package id="Python.Runtime.NETStandard" version="3.7.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net48" />
</packages>